body {
  margin: 0;
  height: 100%;
}


.first-container {
  display: grid;
  grid-template-columns:100% ;
  height: 500px;
  background-color: turquoise;
}

.intro-text {
  margin: auto;
  text-align: center;
  font-size: 80px;
  color: white;
  grid-column-start: 1;
  grid-column-end: 4;
  
}

.second-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr)
  height: 500px;
  background-color: black;
  color: white;
}

.blue-box {
  grid-column-start: 1 ;
  grid-row-start:1 ;
  background-color: rgb(79, 182, 245);
  height: 30pt;
  width: 150pt;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.orange-box {
grid-column-start: 2 ;
grid-row-start:1 ;
  background-color: orange;
  height: 30pt;
  width: 150pt;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.tur-box {
  grid-column-start: 3 ;
  grid-row-start:1 ;
  background-color: turquoise;
  height: 30pt;
  width: 150pt;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.text-blue,
.text-orange,
.text-tur {
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
}

.text-blue {
grid-column-start: 1 ;
grid-row-start:2 ;
}

.text-orange {
grid-column-start: 2 ;
grid-row-start:2 ;
}
.text-tur {
grid-column-start: 3 ;
grid-row-start:2 ;
}

p {
  text-align: center;
  max-width: 320px;
  margin-top: 0;
  margin-bottom: 160px;
  margin-left: auto;
  margin-right: auto;
}

.blue-text {
grid-column-start:1;
grid-row-start:3;
}

 
.orange-text {
  grid-column-start: 2 ;
grid-row-start: 3 ;
}

.tur-text {
  grid-column-start:3  ;
grid-row-start:3 ;
}


@media (max-width: 625px) { 

.first-container {
  background-color: rgb(0, 209, 213);
}


.second-container {
grid-template-columns: 100%;
grid-template-rows: repeat(3, 400px);
background-color: white;
color: black;
}

.intro-text {
  margin: ;
  text-align: center;
}


.blue-box {
grid-column-start: 1 ;
grid-row-start:1 ;
margin-top: 50px;
}

.text-blue {
grid-column-start: 1 ;
grid-row-start:1 ;
margin-top: 106px;
}

.blue-text {
  grid-column-start: 1 ;
grid-row-start:1 ;
margin-top: 160px;
}

.orange-box {
grid-column-start: 1 ;
grid-row-start:2 ;
margin-top: 50px;
}

.text-orange {
  grid-column-start: 1 ;
grid-row-start:2 ;
margin-top: 106px;
}

.orange-text {
grid-column-start: 1 ;
grid-row-start:2 ;
margin-top: 160px;
}

.tur-box {
  grid-column-start: 1 ;
grid-row-start:3 ;
margin-top: 50px;
}

.text-tur {
  grid-column-start: 1 ;
grid-row-start:3 ;
margin-top: 106px;
}

.tur-text {
grid-column-start: 1 ;
grid-row-start:3 ;
margin-top: 160px;
}
 }